.countdown div:before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #ff0;
    color: #333;
    font-style: 0.35em;
    line-height: 35px;
}

.countdown div#day::before{
    content: 'Hari';
}
.countdown div#hour::before{
    content: 'Jam';
}
.countdown div#minute::before{
    content: 'Menit';
}
.countdown div#second::before{
    content: 'Detik';
}